# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
.turbo/
build/
out/
apps/api/migrations/*.js
apps/api/migrations/*.js.map
apps/api/migrations/*.d.ts

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
!.vscode/settings.json

# Testing
coverage/
*.lcov

# Misc
.cache/
tmp/
